

<h4><mark>History</mark> <span id="title-visualizers">Actions</span></h4>
<div class="parent-dropzone">
    Drop here:
    <div class="destiny-dropzone" ondragover="onDragOver(event);" ondrop="onDrop(event);" align="center">
    </div>
    <p class="bottom-three"></p>

    <div class="row" align="center">
       <input type="button" class="app-button" id="btnSearch" value="Undo" onclick="removeLastDropped(true)">
       <input type="button" class="app-button" id="btnClearSearch" value="Clear all" onclick="removeAlltDropped()">

     </div>
    <p class="bottom-three"></p>
    <p id="test"></p>
</div>

