
<div class="row_panel">
    <h4><mark>Visualize</mark> <span id="title1-visualizers">TreeView Structure</span></h4>
    <div id="main-tree" class="specialviewer" method="post">
        <ul id="myUL">
        </ul>
    </div>
</div>

<div class="row_panel">
    <h4><mark>Visualize</mark> <span id="title2-visualizers">XML Structure</span></h4>
    <div id="main-xml" class="specialviewer">
        <textarea id="Textarea" class="area" placeholder="XML structure will be generated automatically" disabled></textarea>
    </div>
</div>

