<h4><mark>Configure</mark> New Model</h4>
<fieldset id="edit-general-data">
    <dl>
        <dt class="field-mandatory">
            <label for="model_name">Model Name</label>
        </dt>

        <dd>
            <p  class="field-data"><input tabindex='1' type="text" id="model_name" /></p>
        </dd>

        <dt>
            <label for="model_description">Model description</label>
        </dt>
        <dd>
            <p  class="field-data"><textarea id="model_description" tabindex='2'></textarea></p>
        </dd>

        <dt class="field-mandatory">
            <label>Output language</label>
        </dt>

        <dd>
            <select id="model_language" onchange="changeFunc();">
                <option value="None" selected>Choose language</option>
                <option value="Cuda" >Cuda</option>
                <option value="Python">Python</option>
            </select>
        </dd>

        <dt class="field-mandatory">
            <label for="working_folder">Working folder</label>
        </dt>

        <dd>
            <p  class="field-data"><input tabindex='1' type="text" id="working_folder" value="/home/aaron/TVB/TEMP" disabled/></p>
        </dd>
    </dl>
</fieldset>

<h4><mark>Drag&Drop</mark> Components</h4>
<fieldset>
        <dt>
            <label for="draggable_zone">Components</label>
        </dt>
        <dd>
            <div id="parent-draggable_zone" >
                <section id="draggable_zone" style="width: auto;">
                    <div id="draggable_zone-container" class="origin-draggable" option = "">
                    </div>
                </section>
            </div>
        </dd>


</fieldset>
